<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>myServlet.data.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>myServlet.data.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDiscover</servlet-name>
    <servlet-class>myServlet.data.QueryDiscover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDiscover</servlet-name>
    <url-pattern>/servlet/QueryDiscover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryHotInfo</servlet-name>
    <servlet-class>myServlet.data.QueryHotInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryHotInfo</servlet-name>
    <url-pattern>/servlet/QueryHotInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryInfoByKey</servlet-name>
    <servlet-class>myServlet.data.QueryInfoByKey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInfoByKey</servlet-name>
    <url-pattern>/servlet/QueryInfoByKey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryPeopleInfoByKey</servlet-name>
    <servlet-class>myServlet.data.QueryPeopleInfoByKey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPeopleInfoByKey</servlet-name>
    <url-pattern>/servlet/QueryPeopleInfoByKey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInfo</servlet-name>
    <servlet-class>myServlet.data.AddInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfo</servlet-name>
    <url-pattern>/servlet/AddInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeSignature</servlet-name>
    <servlet-class>myServlet.data.ChangeSignature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSignature</servlet-name>
    <url-pattern>/servlet/ChangeSignature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryInfoById</servlet-name>
    <servlet-class>myServlet.data.QueryInfoById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInfoById</servlet-name>
    <url-pattern>/servlet/QueryInfoById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IfAddFocus</servlet-name>
    <servlet-class>myServlet.data.IfAddFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IfAddFocus</servlet-name>
    <url-pattern>/servlet/IfAddFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSupport</servlet-name>
    <servlet-class>myServlet.data.AddSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupport</servlet-name>
    <url-pattern>/servlet/AddSupport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFocus</servlet-name>
    <servlet-class>myServlet.data.AddFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFocus</servlet-name>
    <url-pattern>/servlet/AddFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFocus</servlet-name>
    <servlet-class>myServlet.data.RemoveFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFocus</servlet-name>
    <url-pattern>/servlet/RemoveFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInfo</servlet-name>
    <servlet-class>myServlet.data.DeleteInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfo</servlet-name>
    <url-pattern>/servlet/DeleteInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>myServlet.data.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/servlet/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAboutMe</servlet-name>
    <servlet-class>myServlet.data.QueryAboutMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAboutMe</servlet-name>
    <url-pattern>/servlet/QueryAboutMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryComment</servlet-name>
    <servlet-class>myServlet.data.QueryComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryComment</servlet-name>
    <url-pattern>/servlet/QueryComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>myServlet.data.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/servlet/AddComment</url-pattern>
  </servlet-mapping>
</web-app>